/* ------------------------------------
   GLOBAL / RESET
------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;      /* 1rem = 10px */
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root{
  /* GENERAL SETTINGS */
  --reset-size: 2rem;
  --header-height: 10rem;
  /* COLORS */
  --ligth-color: #035bffa9;
  --dark-color: #2B3A67;
  --font-color: #ffe135;  
  --second-font: #222222; 
  --diferences-font: #a0a0a0; 
  --white-font: #e9e9e9; 

}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  color: inherit;
}
li, ul, ol{
  list-style: none;
}

/* 

BODY

*/

body{
  padding: 0;
  margin: 0;
  font-size: var(--reset-size);
  font-family:'Montserrat', sans-serif;
  background: var(--ligth-color);
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.card{
  background-color: #222222;
  border-radius: 1rem;
}
.header__contain a{
  gap: 3rem;
  text-decoration: none;
}

.profile__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;  
}
.profile__image{
  max-width: 28rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}
.profile__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__description{
  padding: 0 6rem ;
}
.profile__contact{
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.main__container{
  margin: 0 auto;
  max-width: 120rem;
  padding-top: var(--header-height);
}

/* 

HEADER

*/

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  color: var(--white-font);
  font-size: var(--reset-size);
  display: flex;
  justify-content: center;
  
}

.header__contain{
  max-width: 120rem;
  width: 100%;
  min-height: 6rem;
  display: flex;  
  justify-content: space-between;
  margin: 1rem;
}
.image__logo{
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 100%;
}
.image__logo:hover{
  cursor: pointer;
}
.navbar{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navbar__logo{
  display: flex;
  justify-content: center;
}
.navbar a{
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}