/* ------------------------------------
   GLOBAL / RESET
------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;      /* 1rem = 10px */
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root{
  /* GENERAL SETTINGS */
  --reset-size: 16px;
  /* COLORS */
  --ligth-color: #87CEEB;
  --dark-color: #2B3A67;
  --font-color: #ffe135;  
  --second-font: #222222; 
  --diferences-font: #a0a0a0; 
  --white-font: #e9e9e9; 

}

/* 

BODY

*/
h1{
  transform: skew(-10deg);
  text-transform: uppercase;
}
li, ul, ol{
  list-style: none;
}

body{
  padding: 0;
  margin: 0;
  font-size: var(--reset-size);
  font-family:'Montserrat', sans-serif;
  background: var(--ligth-color);
}
.profile{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.card{
  background-color: #222222;
  border-radius: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
  gap: 3rem;
}
.perfil__image{
  display: grid;
  justify-content: center;
}
.profile__section{
  padding-top: 10rem
}
.main__container{
  margin: 0 auto;
  max-width: 120rem;
}

/* 

HEADER

*/

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  color: var(--white-font);
  font-size: var(--reset-size);
  display: flex;
  justify-content: center;
  
}

.image__logo{
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 100%;
}
.image__logo:hover{
  cursor: pointer;
}

.header__contain{
  max-width: 120rem;
  width: 100%;
  max-height: 8rem;
  display: flex;  
  justify-content: space-between;
  padding: 3rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navbar__logo{
  display: flex;
  justify-content: center;
}
.navbar a{
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
