{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'diacdev_app/css/app.css' %}">

</head>
<img class="image__logo" src="{% static 'diacdev_app/images/favicon.png' %}" alt="diacdev_logo"
    onclick="">
<body>
    <header>
        <div class="header__contain">
            <div class="navbar__logo">
                <a href=""> DIAC-DEV </a>
            </div>
            <nav class="navbar">
                <a href="#">Presentación</a>
                <a href="#">Habilidades</a>
                <a href="#">Contacto</a>
                <a href="#">Proyectos</a>
                <button id="theme-toggle" aria-label="Toggle theme">Toggle theme</button>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <script src="{% static 'diacdev_app/js/app.js' %} " defer></script>
</body>
<hr>
<footer>
    <p></p>
</footer>
    <p class="footer__description">
        © Daniel Ignacio Araya Castillo. Todos los derechos reservados. <br>
        Desarrollado con Django, HTML, CSS y JS
    </p>
</html>